body 
{
    
}
#wrapper
{
    
    width:800px;
}
#menu
{
    margin-top:400px;
    margin-left:100px;
    margin-right:100px;
    width:600px;
    height:100px;
    margin-bottom:400px;
}
#author
{
    float:left;
    width:120px;
    height:100px;
}
#book
{
    float:left;
    width:120px;
    height:100px;
}
#publisher
{
    float:left;
    width:120px;
    height:100px;
}
#category
{
    float:left;
    width:120px;
    height:100px;
}
#member
{
    float:left;
    width:120px;
    height:100px;
}
