<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EBookStoreEntities" connectionString="metadata=res://*/EBookStoreModel.csdl|res://*/EBookStoreModel.ssdl|res://*/EBookStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql01.turhost.com;Initial Catalog=wnc_eBookStore;User ID=eBook;Password=banaMiBilader;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>